<!DOCTYPE html>   <!-- TODO: Toggle valid / invalid input decorations based on validation -->
<html lang="en" dir="ltr">
	<head>
		{% block head %}
		<meta charset="utf-8">
		<title>
			{% block title %}{% endblock %} | Backlog
		</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/darkmode/darkly.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='fa/css/all.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="icon"  href="{{ url_for('static', filename='image/favicon.ico') }}">
		{% endblock %}
	</head>
	<body>
		<nav class="navbar primary-color" role="navigation" aria-label="main navigation">
		  <div class="navbar-brand">
		    <a class="navbar-item" href="/">
		      <!-- <img src="" width="112" height="28"> -->
			  <p>|||<b> Backlog</b></p>
		    </a>

		    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
		      <span aria-hidden="true"></span>
		      <span aria-hidden="true"></span>
		      <span aria-hidden="true"></span>
		    </a>
		  </div>

		  <div id="navbarBasicExample" class="navbar-menu">
		    <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>

                <a class="navbar-item">
                    Documentation
                </a>
                {% if current_user.is_authenticated %}  
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                My Projects
                            </a>
                            
                            <div class="navbar-dropdown">
                                <a class="navbar-item"  id="project-create-button">
                                    <i class="fas fa-plus mr-1"></i> 
                                	<b>New Project</b>
                                </a>
                                
                                {% if projects %}
                                        {% for element in projects %}
                                        <a class="navbar-item" href="{{ url_for('main.view_project', projectname=element.name) }}">
                                            {{ element.name }}
                                        </a>
                                        {% endfor %}
                                {% endif %}
                                
                                
                                
                            </div>
                        </div>
                        
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                Tasks
                            </a>
                            
                            <div class="navbar-dropdown">
                                <a class="navbar-item" id="task-create-button">
                                    <i class="fas fa-plus mr-1"></i> 
                                	<b>New Task</b>
                                </a>
                            </div>
                        </div>
                {% endif %}
                        
		    </div>

		    <div class="navbar-end">
		      <div class="navbar-item">
		        <div class="buttons">
		        {% if not current_user.is_authenticated %}
                    <a id="signup-button" class="button is-primary">
		                <strong>Sign Up</strong>
                    </a>
                    <a id="login-button" class="button is-light">
		                Log in
		            </a>
                {% endif %}
                
                {% if current_user.is_authenticated %}
                    <a id="logout-button" class="button is-primary" href="{{ url_for('auth.logout') }}">Logout</a>
                {% endif %}
		        </div>
		      </div>
		    </div>
		  </div>
		</nav>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class="notification has-text-centered {{ category }}">
                {{ message }}
            </div>
        {% endfor %}
        {% endwith %}

		<!-- Signup Modal START -->
		<div class="modal" id="signup-modal">
			<div class="modal-background">
			</div>
			<div class="modal-content">
				<div class="box signup-container">
					<div class="has-text-centered"><h1 class=title is-1>Sign Up</h1></div>

					<form action="/sign-up" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="field">
                        <label class="label">Username</label>
                        <div class="control has-icons-left has-icons-right">
                        <input id="signup-first-field" class="input is-success" type="text" name="name" placeholder="Username" value="" autocomplete="on" required>
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                        </div>
                        <p class="help is-success">This username is available</p>
                    </div>

						<div class="field">
						  <label class="label">Email</label>
						  <div class="control has-icons-left has-icons-right">
						    <input class="input is-danger" type="email" name="email" placeholder="example@mail.com" value="" autocomplete="on" required>
						    <span class="icon is-small is-left">
						      <i class="fas fa-envelope"></i>
						    </span>
						    <span class="icon is-small is-right">
						      <i class="fas fa-exclamation-triangle"></i>
						    </span>
						  </div>
						  <p class="help is-danger">This email is invalid</p>
						</div>

                        <div class="field">
                            <label class="label">Password</label>
                            <p class="control has-icons-left">
                                <input class="input" type="password" name="password" placeholder="********" autocomplete="on" required>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </p>
                        </div>

                        <div class="field">
                            <label class="label"> Repeat Password</label>
                            <p class="control has-icons-left">
                                <input class="input" type="password" placeholder="********" autocomplete="off" required>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </p>
                        </div>

						<div class="field">
						  <label class="label">Account Type</label>
						  <div class="control">
						    <div class="select">
						      <select>
						        <option>Admin</option>
						        <option>User</option>
						      </select>
						    </div>
						  </div>
						</div>

						<div class="field">
						  <div class="control">
						    <label class="checkbox">
						      <input type="checkbox" required>
						      I agree to the <a href="#">terms and conditions</a>
						    </label>
						  </div>
						</div>

						<div class="field">
						  <div class="control">
						    <label class="checkbox">
						      <input type="checkbox" name="remember-me">
						      Remember me
						    </label>
						  </div>
						</div>

						<div class="field is-grouped">
						  <div class="control">
						    <button type="submit" class="button is-link">Submit</button>
						  </div>
						  <div class="control">
						    <button  type="button" class="button is-light cancel">Cancel</button>
						  </div>
						</div> <!-- Signup-Modal form end -->
					</form>

				</div>
			</div>
			<button class="modal-close is-large" aria-label="close"></button>
        </div> <!-- Sign-up Modals END -->
        
		<div class="modal" id="project-create-modal"> <!-- create project Modal Start -->
			<div class="modal-background">
			</div>
			<div class="modal-content">
				<div class="box">
					<div class="has-text-centered"><h1 class=title is-1>Create new project</h1></div>

					<form action="/create_project" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
						<div class="field">
						  <label class="label">Project name</label>
						  <div class="control">
						    <input id="first-field" class="input is-primary" type="text" name="project_name" placeholder="Project Name" value="" autocomplete="off" required>
						  </div>
						</div>

						<div class="field">
						  <label class="label">Project descrition</label>
						  <div class="control">
						    <input class="input is-primary" type="text" name="project_description" placeholder="Description" value="" autocomplete="off" required>
						  </div>
						</div>

                        <div class="field">
                            <label class="label">Detailed information</label>
                            <div class="control">
                                <textarea class="textarea is-medium is-primary" type="text" name="project_details"
                                    placeholder="Detailed description" value="" autocomplete="off"></textarea>
                            </div>
                        </div>

						<div class="field is-grouped">
						  <div class="control">
						    <button type="submit" class="button is-primary">Submit</button>
						  </div>
						  <div class="control">
						    <button  type="button" class="button is-light cancel">Cancel</button>
						  </div>
						</div> <!-- create project-Modal form end -->
					</form>

				</div>
			</div>
			<button class="modal-close is-large" aria-label="close"></button>
        </div> <!-- create project Modal END -->

		<div class="modal" id="login-modal">
			<div class="modal-background">
			</div>
			<div class="modal-content">
                <div class="box login-container">
                    <div class="has-text-centered">
                        <h1 class="title is-1">Login</h1>
                    </div>
                    <form action="/login" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <div class="field">
                            <label class="label">Email / Username</label>
                                <div class="control has-icons-left has-icons-right">
                                <input class="input is-danger first-field" type="email" name="email" placeholder="example@mail.com / King-Alpha" value="" autocomplete="on" required>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-envelope"></i>
                                    </span>
                                    <span class="icon is-small is-right">
                                        <i class="fas fa-exclamation-triangle"></i>
                                    </span>
                                </div>
                                <!-- Toggle valid / invalid base on validation -->
                            <p class="help is-danger">This email is invalid</p>
                        </div>

                        <div class="field">
                            <p class="control has-icons-left">
                            <label class="label">Password</label>
                                <input class="input" type="password" name="password" placeholder="********" autocomplete="on" required>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </p>
                        </div>

						<div class="field">
						  <div class="control">
						    <label class="checkbox">
						      <input type="checkbox" name="remember">
						      Remember me
						    </label>
						  </div>
						</div>

						<div class="field is-grouped">
						  <div class="control">
						    <button class="button is-link">Submit</button>
						  </div>
                          <div class="control">
						    <button  type="button" class="button is-light cancel">Cancel</button>
						  </div>
						</div> <!-- Login-Modal form end -->
                    </form>
  				</div>
			</div>
			<button class="modal-close is-large" aria-label="close"></button>
		</div>

		<div class="container content">
		{% block content %}
		{% endblock %}
		</div>

		{% block footer %}
        {% endblock %}
        <!--
            <script src="https://kit.fontawesome.com/6405f16fa5.js" crossorigin="anonymous"></script> 
            -->
        <script src="{{ url_for('static', filename='fa/js/all.min.js') }}" charset="utf-8"></script>
		<script src="{{ url_for('static', filename='js/script.js') }}" charset="utf-8"></script>
	</body>
</html>
